*{
  margin: 0px;
  padding: 0px;
}
.training-section{
  width: 100%;
  background-size: cover;
 padding-bottom: 10%;
}
.training-section h1{
  margin-top: 4%;
  text-align: center;
  padding: 25px 0px;
  
}
.container{
  width: 1170px;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-around;
  display: flex;
}
.training-item{
  flex-basis: 23%;
  margin: 10px 0px;
  text-align: center;
  padding: 20px 0px;
  background: white;
  box-shadow: 0px 0px 10px 3px lightgrey;
}
.training-item h3{
  padding: 10px 0px;
}
.training-item p{
  font-size: 14px;
  padding: 10px;
}
.training-item button{
  background-color: blue;
  padding: 10px 25px;
  border: none;
  color: white;
  margin: 10px 0px;
  border-radius: 10px;
  margin-bottom: 0%;
}
.training-item button a{
  color: white;
  text-decoration: none;
  font-size: medium;
}
.training-item:hover {
  background-color: blue;
}
.training-item:hover h3, .training-item:hover p{
  color: white;
 
}
.training-item:hover button{
  background: white;
  color: blue;
}
.training-item:hover button a{
  background: white;
  color: blue;
}

#info {
  display: none;
  margin-top: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
}


@media only screen and (min-width: 200px ) and (max-width:767px){
  .container{
    width: 100%;
    flex-direction: column;
  }
  .training-item{
    margin: 10px;
  }
}