

.playlist {
  margin: 2rem auto;
  max-width: 1200px;
  padding: 2rem;
  background-color: var(--white);
  border-radius: .5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.playlist .heading {
  font-size: 2.5rem;
  color: var(--black);
  margin-bottom: 1.5rem;
  text-align: center;
}

.playlist .row{
  display: flex;
  align-items: center;
  gap:1rem;
  flex-wrap: wrap;
  background-color: var(--white);
  padding: 2rem;
}

.playlist .row .col{
  flex: 1 1 40rem;
}

.playlist .row .col .save-list{
  margin-bottom: 1.5rem;
}

.playlist .row .col .save-list button{
  font-size: 2rem;
  border-radius: .5rem;
  background-color: var(--light-bg);
  padding:1rem 1.5rem;
  cursor: pointer;
  margin-bottom: 2rem;
  border: none;
  display: flex;
  align-items: center;
}

.playlist .row .col .save-list button i{
  font-size: 2rem;
  color:var(--black);
  margin-right: .8rem;
}

.playlist .row .col .save-list button span{
  font-size: 1.8rem;
  color:var(--light-color);
}

.playlist .row .col .save-list button:hover{
  background-color: var(--black);
}

.playlist .row .col .save-list button:hover i{
  color:var(--white);
}

.playlist .row .col .save-list button:hover span{
  color:var(--white);
}

.playlist .row .col .thumb{
  position: relative;
  height: 30rem;
}

.playlist .row .col .thumb img{
  width: 60%;
  height: 60%;
  object-fit: cover;
  border-radius: 50%;
}

.playlist .row .col .thumb span{
  font-size: 1.8rem;
  color: #fff;
  background-color: rgba(0,0,0,.3);
  border-radius: .5rem;
  position: absolute;
  top: 1rem; left: 1rem;
  padding: .5rem 1.5rem;
}

.playlist .row .col .thumb img{
  height: 30rem;
  width: 100%;
  object-fit: cover;
  border-radius: .5rem;
}

.playlist .row .col .tutor{
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.playlist .row .col .tutor img{
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: cover;
}

.playlist .row .col .tutor h3{
  font-size: 2rem;
  color:var(--black);
  margin-bottom: .2rem;
}

.playlist .row .col .tutor span{
  font-size: 1.5rem;
  color: var(--light-color);
}
.playlist .row .col .details{
  padding-top: 2rem;
}

.playlist .row .col .details h3{
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
}

.playlist .row .col .details p{
  padding: 1rem 0;
  line-height: 2;
  font-size: 1.8rem;
  color: var(--light-color);
}


.playlist .row .col .details .date {
  font-size: 1.5rem;
  color: var(--black);
  display: flex;
  align-items: center;
  gap: .5rem;
}

.playlist .row .col .details .date i {
  color: var(--main-color);
}

.playlist .row .col .details .date span{
  color: var(--light-color);
}

.playlist-videos .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap:1.5rem;
  justify-content: center;
  align-items: flex-start;
}

.playlist-videos .box-container .box{
  background-color: var(--white);
  border-radius: .5rem;
  padding: 2rem;
  position: relative;
}

.playlist-videos .box-container .box i{
  position: absolute;
  top: 2rem; left: 2rem; right: 2rem;
  height: 20rem;
  border-radius: .5rem;
  background-color: rgba(0,0,0,.3);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  color: #fff;
  display: none;
}

.playlist-videos .box-container .box:hover i{
  display: flex;
}

.playlist-videos .box-container .box img{
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: .5rem;
}

.playlist-videos .box-container .box h3{
  margin-top: 1.5rem;
  font-size: 1.8rem;
  color: var(--black);
}

.playlist-videos .box-container .box:hover h3{
  color: var(--main-color);
}


.videos-container .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  align-items: flex-start;
  justify-content: center;
}
.videos-container .box-container .box{
  position: relative;
  border-radius: .5rem;
  padding: 2rem;
  background-color: var(--white);
}
.videos-container .box-container .box img{
  height: 20rem;
  width: 100%;
  border-radius: .5rem;
  object-fit: cover;
}

.videos-container .box-container .box i{
  position: absolute;
  top: 2rem; left: 2rem; right: 2rem;
  height: 20rem;
  background-color: rgb(0, 0,0, .2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  color: #fff;
  border-radius: .5rem;
  display: none;
}

.videos-container .box-container .box:hover i{
  display: flex;
}

.videos-container .box-container .box h3{
  font-size: 2rem;
  color: var(--black);
  margin-top: 1rem;
}

.videos-container .box-container .box:hover h3{
  color: var(--main-color);
}

.watch-video .video-container{
  background-color: var(--white);
  border-radius: .5rem;
  padding: 2rem;
}

.watch-video .video-container .video{
  margin-bottom: 1.5rem;
  border-radius: .5rem;
  width: 60%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  margin-left: 20%;

  align-items: center;
  background-color: #000;
}


.watch-video .video-container .title{
  font-size: 2rem;
  color: var(--black);
  padding: 1.5rem 0;
}

.watch-video .video-container .info{
  display: flex;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  border-bottom: var(--border);
  padding-bottom: 1.5rem;
  gap: 2.5rem;
  align-items: center;
}

.watch-video .video-container .info p{
  font-size: 1.6rem;
}

.watch-video .video-container .info p i{
  margin-right: 1rem;
  color: var(--main-color);
}

.watch-video .video-container .info p span{
  color: var(--light-color);
}

.watch-video .video-container .info i{
  margin-right: 1rem;
  color: var(--main-color);
}

.watch-video .video-container .tutor{
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.watch-video .video-container .tutor img{
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  object-fit: cover;
}

.watch-video .video-container .tutor h3{
  font-size: 2rem;
  color: var(--black);
  margin-bottom: .2rem;
}

.watch-video .video-container .tutor span{
  font-size: 1.5rem;
  color: var(--light-color);
}

.watch-video .video-container .flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.watch-video .video-container .flex a{
  margin-top: 0;
}

.watch-video .video-container .flex button{
  border-radius: .5rem;
  padding: 1rem 1.5rem;
  font-size: 1.8rem;
  cursor: pointer;
  background-color: var(--light-bg);
}

.watch-video .video-container .flex button i{
  margin-right: 1rem;
  color: var(--black);
}

.watch-video .video-container .flex button span{
  color: var(--light-color);
}

.watch-video .video-container .flex button:hover{
  background-color: var(--black);
}

.watch-video .video-container .flex button:hover i{
  color: var(--white);
}

.watch-video .video-container .flex button:hover span{
  color: var(--white);
}

.watch-video .video-container .description{
  line-height: 1.5;
  font-size: 1.7rem;
  color: var(--light-color);
  margin-top: 2rem;
}