*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html{
  height: 80%;
  box-sizing: border-box;
}
body{
  position: relative;
  margin: 0;
  min-height: 100%;
  padding-bottom: 0px;
  height: 100vh;
}
main{
  width: 100%;
  margin: 0 auto;
  padding-top: 32px;
}
h2{
  text-align: center;
  text-transform: capitalize;
}
nav{
  height: 80px;
  width: 100%;
  background-color: rgb(37, 29, 131);
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 1000;
  border: 5px solid black;
  
}
label.name{
  
  margin-bottom: 45%;
  font-size: 30px;
  color: white;
  margin: 0 100px;
  line-height: 80px;
}
nav ul{
  float: right;
  list-style-type: none;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
}
nav ul li a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  text-transform: capitalize;
  padding: 8px 20px;
  
}
nav ul li a.active,a:hover{
  background-color: rgb(5, 5, 98);
}

.dropdownMmenu{
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: black;
}
.dropdownMmenu ul li {
  width: 150px;
  padding: 10px;
}

#checkbtn{
  float: right;
  line-height: 80px;
  margin-right: 10px;
  font-size: 30px;
  color: rgb(157, 96, 96);
  display: none;
}
#check{
  display: none;
} 
#check:checked ~ ul{
  left: 0;
}
p{
  text-align: center;
  margin-left: 10%;
  margin-top: 40px;
  text-justify: auto;
}
.text-center{
  margin-left: 10%;
}
h1{
  margin-left: 40px;
}
h4{
  margin-left: 40px;
  margin-bottom: 3%;
}
.training-section h1{
  margin-top: 4%;
  text-align: center;
  padding: 25px 0px;
  
}
.container{
  width: 1170px;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-around;
  display: flex;
}
.resourses{
  flex-basis: 23%;
  margin-bottom: 10%;
  text-align: center;
  padding: 20px 0px;
  background: rgb(147, 134, 134);
  box-shadow: 0px 0px 10px 3px lightgrey;
}
.training-item h3{
  padding: 10px 0px;
}
.training-item p{
  font-size: 14px;
  padding: 10px;
}

h3{
  margin-left: 40px;
}

h5{
  text-justify: auto;
  text-align: justify;
  margin-top: 10px;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
}
.about-page .image{
  margin-bottom: 120px;
}
.about-page .image img{
  align-content: baseline;
  width: 60%;
  margin-right: 20px;
  margin-left: 20%;
}
.btn{
  background-color: blue;
  color: white;
  margin-bottom: 100px;
  width: 120px;
  height: 40px;
  align-items: center;
  margin-left: 48%;
  
}
.btn a{
  text-align: center;
  color: white;
  text-align: justify;
  text-decoration: none;
}



footer {
  background-color: rgb(69, 41, 247);
  font-size: 18px;
  padding: 15px;
  text-align: center;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  margin-top: auto;
}



@media only screen and (min-width: 400px) and  (max-width: 767px){
  .wrapper{
      flex-direction: column;
  }
  labe.logo{
      font-size: 26px;
      margin: 0 50px;
  }
  #checkbtn{
      display: block;
  }
  nav ul{
      width: 100%;
      height: 100vh;
      background-color: blue;
      position: fixed;
      top: 80px;
      left: -100%; 
      transition: .5s;
  }
  nav ul li{
      display: block;
      text-align: center;
      line-height: 45px;
      margin-top: 10px;
    
  }
}






